/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.ruta {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px auto;
    animation: bytFärgForm 5s infinite;
}

@keyframes bytFärgForm {
    0% {
        background-color: red;
        transform: scale(1) translateX(0);
        opacity: 0;
    }

    50% {
        background-color: yellow;
        transform: scale(2) translateX(200px);
        box-shadow: 0 0 20px;
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        background-color: red;
        transform: scale(1)translateX(0);
        opacity: 0;
    }
}
/* Animera studsande emoji */
.emoji-1 {
    font-size: 100px;
    animation: studs 1s infinite;
    animation-delay: 1s;

}
.emoji-2 {
    font-size: 100px;
    animation: studs 1s infinite;
    animation-delay: 2.5s;
    margin-left: 150px;
}
.emoji-3 {
    font-size: 100px;
    animation: studs 1s infinite;
    animation-delay: 4s;
    margin-left: 300px;

}
@keyframes studs {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
}