/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
width: 100%;
}

/* Magasinlayout */
.kontainer {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "sidhuvud sidhuvud sidhuvud" 
    "artikel artikel artikel"
    "artikel1 artikel2 artikel3"
    "sidfot sidfot sidfot"
    ;
}
header {
    background-color: yellow;
    grid-area: sidhuvud;
    height: 10vh;
}
nav {
background-color: green;
grid-area: meny;
height: 80vh;
}
.featured {
    background-color: purple;
    grid-area: artikel1;
}
.artikel1 {
    background-color: blue;
    grid-area: artikel;
}
.artikel2 {
    background-color: red;
    grid-area: sidfot;
    
}
.artikel3 {
    background-color: lawngreen;
    min-height: 10vh;
}